body{
  height: 20px;
}

.jumbotron{
  background-size: cover;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100vh;
  color: white;
}

.jumbotron img{
  width: 17%;
  border-radius: 50%;
  transition: 1s;
}

.jumbotron h1{
  font-size: 120px;
  font-weight: 400;
}

.jumbotron .lead{
  font-size: 25px;
}


.content .container .col4 img{
  width: 200%;
}

video{
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%; 
  min-height: 10%;
}





