.bg {
    background-color: black;
}

.jumbotron{
    padding-top: 20px;
    background-image: url(../img/pexels-maxime-francis-2246476.jpg);
    background-size: cover;
    color: white;
    
}

.jumbotron img{
    width: 16%;
}

.link img{
    width: 2%;
    transition: 0.5s;
}

.link img:hover{
    width: 3%;
}

.link {
    position: absolute;
}
